[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "~=2.3.2"
jishaku = "~=2.5.2"

[dev-packages]
ruff = "*"
rich = "*"

[requires]
python_version = "3.11"
